@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: var(--size-h2);
    line-height: var(--lh-h2);
    font-weight: 400;
}

h3 {
    font-size: var(--size-h3);
    line-height: var(--lh-h3);
}

p {
    font-size: var(--size-text);
    line-height: var(--lh-text);
}